/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {

}

.jumbotron {
  text-align: center;
  background-color: #ddd;

}

.scope_block {
  display: inline-grid;
}

#header-links li a{
  font-size: 1.2em;
}


.erb_div {
  margin: 25px;
}

.show_divs {
  display: flex;
  justify-content: space-evenly;
}

.show_divs .card {
  background-color: #eee;

}

#delete {
  text-align: center;
}
.review {
  padding: 50px;
  background-color: #eee;
}

.user_reviews h4 {
  text-align: center;
}

.landing {
  display: flex;
  justify-content: space-evenly;
}

.erb_contents {
  display: flex;
  justify-content: space-evenly;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.5em;
}

form * {
  margin: 5px;
}
