
<div class="landing">

  <div class="scope_block">
    <h4>Mario's Most Popular Meals</h4>
    <ol>
      <% @top5.each do |each| %>
      <li> <a href="/products/<%= each.id %>"> <%= each.name %> </a></li>
      <% end %>
    </ol>
  </div>

  <div class="scope_block">
    <h4>Newest Menu Additions</h4>
    <ol>
      <% @new3.each do |each| %>
      <li> <a href="/products/<%= each.id %>"> <%= each.name %> </a></li>
      <% end %>
    </ol>
  </div>

</div>
